[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[push]
	default = upstream
[credential]
	helper = cache --timeout 86400
